@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* cores */
:root {
  --verde: #2ecc71;
  --amarelo: #f1c40f;
  --azul: #3498db;
  --laranja: #e67e22;

  --texto: #333;
  --fundo: #fdfdfd;
  --branco: #fff;
}

/* geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--fundo);
  color: var(--texto);
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

.tituloh1Sobre {
  font-family: Quicksand;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  text-align: center;
}

/* sobre */
#sobre {
  margin-bottom: 180px;
}

.sobre {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;

  height: 450px;
  margin: 0 auto;
  width: 95%;
}

.img-sobre img {
  border-radius: 15px;
  width: 600px;
  width: 700px;
  object-fit: cover;
  margin-right: 50px;
}

.text-sobre {
  width: 600px;
  text-align: justify;
  color: #333;
  font-size: 1.2rem;
  padding: 10px;
  line-height: 1.7;
  font-family: Poppins;
}

/* locação */
#locacao {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.card-locacao {
  display: flex;
  flex-direction: row;
  height: 335px;
  width: 41%;

  border: 3px solid var(--azul);
  padding: 10px;
  border-radius: 15px;
  transition: 0.3s ease;
}

.card-locacao:hover {
  transform: scale(1.03);
  border-color: var(--laranja);
}

.locacao {
  width: 45%;
}

.locacao img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 15px !important;
}

.descricao {
  width: 60%;
  justify-content: center;
  align-items: center;
}

.descricao p {
  font-family: Poppins;
}

.title-locacao {
  margin-top: 5px;
}

.text-locacao {
  text-align: center;
}

.text-locacao p {
  padding: 8px;
}

.precos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--azul);
  border-radius: 10px;
  gap: 10px;
  width: 100%;
  margin: 3px 5px 20px 5px;
  padding: 10px;

  transition: 0.3s ease;
}

.card-locacao:hover .precos {
  color: #fff;
}

.precos h3 {
  width: 150px;
  font-size: 20px;
}

.precos h3 p {
  font-size: 12px;
}

/* brinquedos */
.carousel {
  width: 600px;
  height: 700px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide {
  position: relative;
}

.slide img {
  width: 600px;
  height: 700px;
  object-fit: cover;
  border-radius: 15px;
}

.text-overlay {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(51, 51, 51, 0.7);
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

.buttons {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.buttons button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

/* depoimentos */
.depoimento-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.depoimentos {
  display: flex;
  background-color: #e67e22;
  width: 800px;
  padding: 15px;
  margin: 10px 50px;
  border-radius: 15px;

  position: relative;
}

.card-depoimento img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.depoimento-text {
  margin: 30px;
}

.depoimento-text p {
  text-align: justify;
}

.nota {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
}

.nota i {
  font-size: 22px;
  color: var(--amarelo) !important;
}

/* galeria */
#galery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 75%;
  margin: 0 auto;
}

#galery h1 {
  background-color: var(--azul);
  margin: 20px 0;
  border-radius: 5px;
  width: 100%;
}

.galery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px;

  border: 3px solid var(--azul);
  border-radius: 5px;
}

.galery-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;

  transition: 0.3s ease;
}

.galery-img iframe {
  border-radius: 15px;
}

.galery-img img:hover {
  transform: scale(1.02);
}

.galery-img iframe:hover {
  transform: scale(1.02);
}

.galery-img img {
  width: 45%;
  object-fit: cover;
  border-radius: 15px;
}

.fundo {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.fundo img {
  width: 100%;
  height: 100%;
  opacity: .2;
  object-fit: cover;
}

@media (max-width: 1440px) {
  .card-locacao {
    width: 48% !important;
  }
  .sobre {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .card-locacao {
    width: 75% !important;
    margin: 0 auto;
  }

  .sobre {
    flex-direction: column;
    height: auto;
  }

  .img-sobre img {
    margin: 0;
  }

  .img-sobre {
    height: auto;
  }

  .text-sobre {
    height: auto;
    width: 720px;
  }

  .precos {
    margin-top: 3px;
  }
}
@media (max-width: 840px) {
.card-locacao{
  width: 85% !important;
}
}

@media (max-width: 768px) {

  .tituloh1Sobre,
  #brinquedo,
  #depoimento {
    font-size: 1.8rem;
  }

  /* locação */
  #locacao {
    flex-direction: column;
  }

  .card-locacao {
    width: 70% !important;
    height: 240px !important;
    margin: 0 auto;
  }

  .locacao img {
    height: 215px !important;
  }

  .text-locacao p {
    padding: 2px;
    font-size: 0.85rem;
  }

  .title-locacao {
    font-size: 1rem;
  }

  .precos {
    margin-top: 3px;
  }

  .precos h3 {
    font-size: 1rem;
  }

  .precos h3 {
    width: 200px;
  }

  .card-locacao {
    height: 200px;
  }

  .locacao img {
    height: 200px;
  }

  .descricao {
    height: 200px;
  }

  .card-depoimento img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media (max-width: 715px) {
  .carousel {
    width: 400px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: auto;
  }

  .slide img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
  }

  .text-overlay {
    font-size: 0.9rem;
    padding: 10px;
    text-align: center;
  }

  /* locação */
  #locacao {
    width: 90% !important;
    margin: 0 auto !important;
  }

  .card-locacao {
    flex-direction: column !important;
    height: 435px !important;
    width: 100% !important;
    margin: 0 auto !important;
  }

  .locacao {
    width: 100% !important;
  }

  .descricao {
    width: 100% !important;
  }

  .precos {
    width: 100% !important;
    margin: 0 auto !important;
  }

  .locacao img {
    width: 100% !important;
    border-radius: 15px 15px 0 0;
  }


  /* depoimentos */
  .depoimentos {
    flex-direction: column;
    justify-content: center;
  }

  .card-depoimento {
    text-align: center;
  }

  .card-depoimento img {
    width: 180px;
    height: 180px;
  }

  .depoimento-text {
    margin: 30px;
  }

  .depoimento-text p {
    text-align: justify;
  }

  .nota i {
    font-size: 22px;
    color: red;
  }

  /* galeria */
  .galery-container {
    margin: 0;
  }

  .galery-img {
    margin: 0;
    width: 100%;
  }

  #galery h1 {
    font-size: 1.5rem;
  }

  .galery-img img {
    width: 300px;
  }

  .fundo img {
    width: 100%;
  }

  /* sobre */
  .sobre {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .img-sobre {
    height: auto;
  }

  .img-sobre img {
    width: 400px;
  }

  .text-sobre {
    height: auto;
    width: 400px;
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) {

  /* galeria */
  .galery-img img {
    width: 250px;
  }

  .sobre {
    width: 100%;
    margin: 0 auto;
  }

  .img-sobre {
    width: 350px;
    margin: 0 auto;
  }

  .img-sobre img {
    width: 350px;
  }

  .text-sobre {
    width: 350px;
    margin: 0 auto;
  }

  .carousel {
    width: 360px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: auto;
  }

  .slide img {
    width: 360px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
  }

  /* locação */
  #locacao {
    width: 365px !important;
  }

  .card-locacao {
    height: 465px !important;
    width: 350px !important;
  }

  .locacao{
    width: 350px !important;
  }

  .locacao img{
    width: 330px !important;
  }

  .descricao{
    width: 330px !important;
  }

  .precos{
    width: 330px !important;
  }

  .depoimento-content {
    width: 340px;
    margin: 0 auto;
  }

  .depoimentos {
    width: 340px;
    margin: 10px auto;
  }

  .card-depoimento {
    width: 340px;
    margin: 0 auto;
  }

  .card-depoimento img {
    width: 150px;
    height: 150px;
    margin-right: 50%;
    transform: translateX(50%);
  }
}

@media (max-width: 380px) {

  /* galeria */
  .galery-container {
    width: 310px;
  }

  .galery-container .galery-img iframe {
    width: 295px;
  }

  .galery-img img {
    width: 200px;
  }

  .img-sobre {
    width: 300px;
  }

  .img-sobre img {
    width: 300px;
  }

  .text-sobre {
    width: 300px;
  }

  .text-overlay {
    font-size: 0.8rem;
    padding: 10px;
    text-align: center;
  }

  .carousel {
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
  }

  .slide img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
  }

 #locacao {
    width: 315px !important;
  }

  .card-locacao {
    height: 445px !important;
    width: 300px !important;
  }

  .locacao{
    width: 100% !important;
    margin:  0 auto !important;
  }

  .locacao img{
    width: 100% !important;
  }

  .descricao{
    width: 280px !important;
  }

  .descricao .text-locacao p {
    font-size: .8rem !important;
  }

  .precos{
    width: 280px !important;
  }

  .depoimento-content {
    width: 280px;
    margin: 0 auto;
  }

  .depoimentos {
    width: 280px;
    margin: 10px auto;
  }

  .card-depoimento {
    width: 280px;
    margin: 0 auto;
  }

  .card-depoimento img {
    width: 120px;
    height: 120px;
  }

  .card-locacao {
    height: 470px !important;
    width: 310px !important;
  }
}