:root {
  --verde: #2ecc71;
  --amarelo: #f1c40f;
  --azul: #3498db;
  --laranja: #e67e22;

  --texto: #333;
  --fundo: #fdfdfd;
  --branco: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--fundo);
  color: var(--texto);
  position: relative;
}

/* main index */

.title {
  text-align: center;
  margin-top: 20px;
}

.title p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.title h1 {
  font-size: 2.5rem;
  color: var(--laranja);
  font-weight: bold;
  margin-bottom: 15px;
}

.content-main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

main {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  flex: 3;
}

aside {
  flex: 1;
  border-left: 4px solid #007bff;
  font-family: Arial, sans-serif;
  background: var(--azul);
  color: var(--branco);

  max-width: 350px;
  height: 300px;
  padding: 15px;
  border-radius: 15px;
  margin-top: 30px;
}

aside h3 {
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside li {
  padding: 8px 0;
}

.content {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-content {
  background: var(--branco);
  border: 3px solid var(--azul);
  margin: 30px auto;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.card-content:hover {
  transform: scale(1.03);
  border-color: var(--laranja);
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.text {
  margin: 15px 0;
  font-size: 1.1rem;
  color: #444;
}

.buttons-index {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.buttons-index button {
  background: var(--verde);
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.buttons-index button a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--branco);
  font-weight: bold;
}

.buttons-index button:hover {
  background: var(--laranja);
}

@media (max-width: 768px) {
  .title .tituloindex {
    font-size: 2rem !important;
  }

  .title p {
    font-size: 1rem;
  }

  .text {
    font-size: 1rem;
  }

  aside {
    width: 100%;
    margin: 0 auto;
  }

  .content-main {
    flex-direction: column;
  }

  main {
    width: 100%;
    text-align: center;
  }

  .content {
    flex-wrap: wrap;
  }

  .card-content {
    flex: 1 1 100%;
  }

  #paragrafo {
    margin: 0 5px;
  }
}

@media (max-width: 425px) {
  aside {
    width: 100%;
  }

  .buttons-index {
    flex-direction: column;
  }
}

@media (max-width: 375px) {

  .indexcontent {
    margin: 0;
  }

  .content {
    width: 340px;
    margin: 0;
  }

  .card-content {
    width: 340px;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .content {
    width: 280px;
    margin: 0;
  }

  .card-content {
    width: 280px;
    margin: 0;
  }
}