 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

 /* cores */
 :root {
     --verde: #2ecc71;
     --amarelo: #f1c40f;
     --azul: #3498db;
     --laranja: #e67e22;

     --texto: #333;
     --fundo: #fdfdfd;
     --branco: #fff;
 }

 /* geral */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
 }

 body {
     background-color: var(--fundo);
     color: var(--texto);
     display: flex;
     flex-direction: column;
 }


 /* main index */
 .indexcontent {
     width: 90%;
     max-width: 1100px;
     margin: 40px auto;
     text-align: center;
 }

 .tituloindex {
     font-size: 2.5rem;
     color: var(--laranja);
     font-weight: bold;
     margin-bottom: 15px;
 }

 #paragrafo {
     font-size: 1.2rem;
     margin-bottom: 10px;
 }

 .content {
     display: flex;
     gap: 15px;
     justify-content: center;
     flex-wrap: wrap;

 }

 .card-content {
     background: var(--branco);
     border: 3px solid var(--azul);
     margin: 30px auto;
     padding: 20px;
     border-radius: 15px;
     width: 100%;
     max-width: 300px;
     box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
     transition: 0.3s;
 }

 .card-content:hover {
     transform: scale(1.03);
     border-color: var(--laranja);
 }

 .card img {
     width: 100%;
     border-radius: 12px;
 }

 .text {
     margin: 15px 0;
     font-size: 1.1rem;
     color: #444;
 }

 .buttons-index {
     display: flex;
     justify-content: center;
     gap: 15px;
 }

 .buttons-index button {
     background: var(--verde);
     padding: 12px 22px;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     transition: 0.3s;
 }

 .buttons-index button a {
     text-decoration: none;
     font-size: 1rem;
     color: var(--branco);
     font-weight: bold;
 }

 .buttons-index button:hover {
     background: var(--laranja);
 }




 h1 {
     padding: 20px;
     text-align: center;
     text-transform: uppercase;
 }

 .tituloh1Sobre {
     font-family: Quicksand;

 }

 h2 {
     text-align: center;
     text-transform: uppercase;
     text-align: center;
 }


 /* sobre */
 .sobre {
     display: flex;
     gap: 15px;
     margin: 15px 20px 15px 20px;
     justify-content: center;
     align-items: center;
 }

 .img-sobre img {
     border-radius: 15px;
     width: 450px;
 }

 .text-sobre {
     width: 400px;
     text-align: justify;
 }


 /* locação */
 #locacao {
     display: flex;
     gap: 15px;
     justify-content: center;
     flex-wrap: wrap;
     margin-bottom: 15px;
 }

 .card-locacao {
     background-color: greenyellow;
     display: flex;
     flex-direction: row;
     height: 300px;
 }

 .descricao {
     width: 350px;
 }

 .title-locacao {
     margin-top: 10px;
 }

 .locacao img {
     height: 300px;
 }

 .text-locacao {
     text-align: center;
 }

 .text-locacao p {
     padding: 10px;
 }

 .precos {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     gap: 10px;
     margin-top: 20px;
     padding: 10px;
 }

 .precos h3 {
     width: 150px;
     font-size: 24px;
 }

 .precos h3 p {
     font-size: 14px;
 }


 /* brinquedos */
 .carousel {
     width: 600px;
     height: 700px;
     overflow: hidden;
     position: relative;
     margin: auto;
 }

 .slides {
     display: flex;
     width: 100%;
     height: 100%;
     transition: transform 0.5s ease;
 }

 .slide {
     position: relative;
 }

 .slide img {
     width: 600px;
     height: 700px;
     object-fit: cover;
     border-radius: 15px;
 }

 .text-overlay {
     position: absolute;
     bottom: 15px;
     left: 50%;
     transform: translateX(-50%);
     background-color: rgba(51, 51, 51, .7);
     color: white;
     padding: 20px;
     border-radius: 10px;
     font-size: 20px;
     font-weight: bold;
     text-shadow: 2px 2px 5px black;
 }

 .buttons {
     position: absolute;
     width: 100%;
     top: 50%;
     display: flex;
     justify-content: space-between;
     transform: translateY(-50%);
 }

 .buttons button {
     background: rgba(0, 0, 0, 0.5);
     color: white;
     border: none;
     padding: 10px;
     cursor: pointer;
 }

 /* depoimentos */
 .depoimento-content {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .depoimentos {
     display: flex;
     background-color: #e67e22;
     width: 800px;
     padding: 15px;
     margin: 10px 50px;
     border-radius: 15px;

     position: relative;
 }

 .card-depoimento img {
     width: 300px;
     height: 300px;
     object-fit: cover;
     border-radius: 50%;
 }

 .depoimento-text {
     margin: 30px;
 }

 .depoimento-text p {
     text-align: justify;
 }

 .nota {
     display: flex;
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     top: -10px;
 }

 .nota i {
     font-size: 22px;
     color: red;
 }

 /* galeria */
 #galery {
     display: flex;
     flex-direction: column;
      justify-content: center;
     align-items: center;
     margin-top: 50px;
     width: 75%;
     margin: 0 auto;
 }

 #galery h1{
    background-color: var(--azul);
    margin: 20px 0;
    border-radius: 5px;
    width: 100%;
 }

 .galery-container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     padding: 15px;
     background-color: #2ecc71;
     border-radius: 5px;


 }

 .galery-img {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 15px;
     width: 100%;
 }

 .galery-img img{
    width: 45%;
    border-radius: 15px;
 }

 @media (max-width:768px) {
     .sobre {
         flex-direction: column;
     }

     .text-sobre {
         width: 450px;
     }

     .card-locacao {
         height: 200px;
     }

     .locacao img {
         height: 200px;
     }

     .descricao {
         height: 200px;
     }

     .card-depoimento img {
         width: 200px;
         height: 200px;
         object-fit: cover;
         border-radius: 50%;
     }

 }

 @media (max-width:425px) {
     .img-sobre img {
         width: 400px;
     }

     .text-sobre {
         width: 400px;
     }

     .carousel {
         width: 400px;
         height: 500px;
         overflow: hidden;
         position: relative;
         margin: auto;
     }

     .slide img {
         width: 400px;
         height: 500px;
         object-fit: cover;
         border-radius: 15px;
     }

     .text-overlay {
         font-size: .9rem;
         padding: 10px;
         text-align: center;
     }

     .card-locacao {
         flex-direction: column;
         height: 500px;
     }

     .locacao img {
         width: 400px;
     }

     .descricao {
         width: 400px;
     }


     .depoimentos {
         flex-direction: column;
         justify-content: center;
     }

     .card-depoimento {
         text-align: center;
     }

     .card-depoimento img {
         width: 180px;
         height: 180px;
     }

     .depoimento-text {
         margin: 30px;
     }

     .depoimento-text p {
         text-align: justify;
     }

     .nota i {
         font-size: 22px;
         color: red;
     }
 }

 @media (max-width:375px) {
     .img-sobre img {
         width: 350px;
     }

     .text-sobre {
         width: 350px;
     }

     .carousel {
         width: 360px;
         height: 500px;
         overflow: hidden;
         position: relative;
         margin: auto;
     }

     .slide img {
         width: 360px;
         height: 500px;
         object-fit: cover;
         border-radius: 15px;
     }

     .locacao img {
         width: 360px;
     }

     .descricao {
         width: 360px;
     }

     .card-depoimento img {
         width: 150px;
         height: 150px;
     }
 }

 @media (max-width: 320px) {
     .img-sobre img {
         width: 300px;
     }

     .text-sobre {
         width: 300px;
     }

     .text-overlay {
         font-size: .8rem;
         padding: 10px;
         text-align: center;
     }

     .carousel {
         width: 300px;
         height: 400px;
         overflow: hidden;
         position: relative;
         margin: auto;
     }

     .slide img {
         width: 300px;
         height: 400px;
         object-fit: cover;
         border-radius: 15px;
     }

     .locacao img {
         width: 300px;
     }

     .descricao {
         width: 300px;
     }

     .card-depoimento img {
         width: 120px;
         height: 120px;
     }
 }