:root {
    --verde: #2ecc71;
    --amarelo: #f1c40f;
    --azul: #3498db;
    --laranja: #e67e22;

    --texto: #333;
    --fundo: #fdfdfd;
    --branco: #fff;
}
/* ====== FOOTER ====== */
footer {
    margin-top: 40px;
    background: var(--azul);
    color: var(--branco);
    padding: 25px 10px;
    text-align: center;
    font-size: 1rem;
}

footer p{
    padding: 10px;
}

/* ÍCONES - cores oficiais */
footer .social-links a {
    margin: 0 10px;
    font-size: 1.7rem;
    transition: 0.3s;
}

/* FACEBOOK */
footer a.facebook {
    color: #1877F2;
}
footer a.facebook:hover {
    color: #0e59b2;
}
.social-links {
    margin-top: 10px;
}

/* INSTAGRAM - degrade mais próximo */
footer a.instagram {
    background: linear-gradient(45deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* X (Twitter) */
footer a.x {
    color: #000000;
}

/* WHATSAPP */
footer a.whatsapp {
    color: #25D366;
}
footer a.whatsapp:hover {
    color: #128C7E;
}
