:root {
    --verde: #2ecc71;
    --amarelo: #f1c40f;
    --azul: #3498db;
    --laranja: #e67e22;

    --texto: #333;
    --fundo: #fdfdfd;
    --branco: #fff;
}

/* ====== HEADER ====== */
header {
    width: 100%;
    background: linear-gradient(90deg, var(--azul), var(--verde));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo img {
    max-height: 180px;
}

/* ====== MENU ====== */
nav ul.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul.menu li a {
    text-decoration: none;
    color: var(--branco);
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}

nav ul.menu li a:hover {
    background: var(--amarelo);
    color: var(--texto);
}

@media (max-width: 1024px) {
    header {
        justify-content: center;
    }

    nav ul.menu {
        gap: 10px;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    header {
        justify-content: center;
    }

    nav ul.menu {
        gap: 6px;
        flex-wrap: wrap;
    }

    nav ul.menu li a {
        padding: 6px 10px;
        font-size: .8rem;
    }

    .logo img {
        max-height: 140px;
    }
}

@media (max-width: 425px) {
    header {
        height: 250px;
        width: 100%;
        justify-content: space-between;
    }

     nav ul.menu {
        gap: 5px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    nav ul.menu li a {
        padding: 5px 10px;
        font-size: .8rem;
    }
}

@media (max-width: 320px) {
    header {
        height: 375px;
        justify-content: center;
    }

     nav ul.menu {
        gap: 5px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    nav ul.menu li a {
        padding: 5px 10px;
        font-size: .8rem;
    }
}