.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

.contact-form,
.contact-info {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(8, 86, 202, 0.1);
}

.contact-form {
    flex: 2;
    /* Ocupa 2/3 do espaço */
    min-width: 300px;
}

.contact-info {
    flex: 1;
    /* Ocupa 1/3 do espaço */
    min-width: 250px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 0;
    
}

.contact-info img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* --- Estilos para o formulário --- */
form p {
    margin-bottom: 1rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.2s ease-in-out;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    outline: none;
    border-color: #007bff;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width:768px){
    .contact-form h2, .contact-info h2{
        font-size: 1.7rem;
    }
}