:root {
    --verde: #2ecc71;
    --amarelo: #f1c40f;
    --azul: #3498db;
    --laranja: #e67e22;

    --texto: #333;
    --fundo: #fdfdfd;
    --branco: #fff;
}

/* ====== HEADER ====== */
header {
    width: 100%;
    background: linear-gradient(90deg, var(--azul), var(--verde));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: relative;
}

.logo img {
    max-height: 180px;
}

/* ====== MENU ====== */
nav {
    flex: 1;
    /* ocupa todo o espaço entre a logo e o hamburguer */
    display: flex;
    justify-content: center;
}

nav ul.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

nav ul.menu li a {
    text-decoration: none;
    color: var(--branco);
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
    font-size: 1.3rem;
}

nav ul.menu li a:hover {
    background: var(--amarelo);
    color: var(--texto);
}

.oculto {
    display: none !important;
}

.hamburguer {
    font-size: 28px;
    cursor: pointer;
    padding: 10px;

    transition: .3s ease;
}

.ativo {
    transform: rotate(90deg) !important;
}

.hamburguer:hover {
    transform: scale(1.25);
}

@media (max-width: 1500px){
  
  nav ul.menu li a{
    padding: 8px 10px !important;
  }

   nav ul.menu {
        gap: 6px;
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) {
    header {
        justify-content: center;
    }

    nav ul.menu {
        gap: 10px;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    nav ul.menu {
        gap: 6px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        background-color: #333;
        padding: 10px;
        border-radius: 5px;
    }

    nav ul.menu li a {
        padding: 6px 10px;
        font-size: .8rem;
    }

    .logo img {
        max-height: 140px;
    }
}

@media (max-width: 425px) {
    nav ul.menu {
        gap: 5px;
    }

    nav ul.menu li a {
        padding: 5px 10px;
        font-size: .8rem;
    }
}

@media (max-width: 320px) {
    nav ul.menu {
        gap: 5px;
    }

    nav ul.menu li a {
        padding: 5px 10px;
        font-size: .8rem;
    }
}