body {
    background-color: rgb(165, 141, 233);
    font: normal 15pt Arial;
}

header {
    color: rgb(29, 25, 25);
    text-align: center;
    text-shadow: 2px 2px 5px rgba(224, 143, 224, 0.463);
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(168, 10, 207, 0.463);
}

div#res{
    padding-top: 15px;
}

footer {
    color: rgb(26, 24, 24);
    text-align: center;
    font-style: italic;
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(75, 64, 64, 0.463);

}

img#foto{
    padding-top: 15px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}